---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";

const quote = (await getEntry(
  "quote",
  "-index"
)) as CollectionEntry<"quote">;
const { quote_form_action }: { quote_form_action: string } = config.params;
const { title, description, meta_title, image } = quote.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="mx-auto md:col-10 lg:col-6">
          <form action={quote_form_action} method="POST">
            <div class="mb-6">
              <label for="name" class="form-label">
                Name <span class="text-red-500">*</span>
              </label>
              <input
                id="name"
                name="name"
                class="form-input"
                placeholder="John Doe"
                type="text"
                required
              />
            </div>
            <div class="mb-6">
              <label for="address" class="form-label">
                Address <span class="text-red-500">*</span>
              </label>
              <input
                id="address"
                name="address"
                class="form-input"
                placeholder="123 Sample St, Lansing MI, 12345"
                type="text"
              />
            </div>
            <div class="mb-6">
              <label for="email" class="form-label">
                Email <span class="text-red-500">*</span>
              </label>
              <input
                id="email"
                name="email"
                class="form-input"
                placeholder="john.doe@email.com"
                type="email"
                required
              />
            </div>
            <div class="mb-6">
              <label for="phone" class="form-label">
                Phone <span class="text-red-500">*</span>
              </label>
              <input
                id="phone"
                name="phone"
                class="form-input"
                placeholder="(248) 555-1212"
                type="tel"
                required
              />
            </div>

            <hr class="mb-6" />

            <div class="mb-6">
              <p class="form-label">Select Required Services <span class="text-red-500">*</span></p>
              <label class="form-label">
                <input
                  id="dryerventcleaning"
                  name="service"
                  class="form-checkbox"
                  value="Dryer Vent Cleaning"
                  type="checkbox"
                />
                Dryer Vent Cleaning
              </label>
              <label class="form-label">
                <input
                  id="airductcleaning"
                  name="service"
                  class="form-checkbox"
                  value="Air Duct Cleaning"
                  type="checkbox"
                />
                Air Duct Cleaning
              </label>
              <label class="form-label">
                <input
                  id="condensercleaning"
                  name="service"
                  class="form-checkbox"
                  value="Condenser Cleaning"
                  type="checkbox"
                />
                Condenser Cleaning
              </label>
              <label class="form-label">
                <input
                  id="furnacecleaning"
                  name="service"
                  class="form-checkbox"
                  value="Furnace Cleaning"
                  type="checkbox"
                />
                Furnace Cleaning
              </label>
              <label class="form-label">
                <input
                  id="dryerductrepair"
                  name="service"
                  class="form-checkbox"
                  value="Dryer Duct Repair"
                  type="checkbox"
                />
                Dryer Duct Repair
              </label>
              <label class="form-label">
                <input
                  id="dryerductinstall"
                  name="service"
                  class="form-checkbox"
                  value="Dryer Duct Install"
                  type="checkbox"
                />
                Dryer Duct Install
              </label>
              <input
                id="otherservicetext"
                name="otherservicetext"
                class="form-input"
                placeholder="Other Service"
                type="text"
              />  
            </div>

            <hr class="mb-6" />
            
            <div class="mb-6">
              <p><strong>Please answer the questions for the service(s) you are inquiring about so that we may give you the best possible quote.</strong></p>
            </div>

            <div class="mb-6">
              <label for="dryerventcleaningdetails" class="form-label">
                <strong>Dryer Vent Cleaning</strong> - Please tell us how many dryers are in the home, what floor of your home the dryer is located in, and if you are currently experiencing a problem or if this is just a maintenance request.
              </label>
              <input
                id="dryerventcleaningdetails"
                name="dryerventcleaningdetails"
                class="form-input"
                placeholder="Dryer Vent Cleaning Details"
                type="text"
              />
            </div>
            <div class="mb-6">
              <label for="airductcleaningdetails" class="form-label">
                <strong>Air Duct Cleaning</strong> - What is the square footage of your home and how many furnaces do you have?
              </label>
              <input
                id="airductcleaningdetails"
                name="airductcleaningdetails"
                class="form-input"
                placeholder="Air Duct Cleaning Details"
                type="text"
              />
            </div>
            <div class="mb-6">
              <label for="condensercleaningdetails" class="form-label">
                <strong>Condenser Cleaning</strong> - Is this an AC or Refrigerator, how old is the condenser, where is it located in the home, and when is the last time that it was cleaned?
              </label>
              <input
                id="condensercleaningdetails"
                name="condensercleaningdetails"
                class="form-input"
                placeholder="Condenser Cleaning Details"
                type="text"
              />
            </div>
            <div class="mb-6">
              <label for="furnacecleaningdetails" class="form-label">
                <strong>Furnace Cleaning</strong> - How old is the Furnace, where is it located in the home, and when is the last time that it was cleaned?
              </label>
              <input
                id="furnacecleaningdetails"
                name="furnacecleaningdetails"
                class="form-input"
                placeholder="Furnace Cleaning Details"
                type="text"
              />
            </div>
            <div class="mb-6">
              <label for="dryerductrepairdetails" class="form-label">
                <strong>Dryer Duct Repair</strong> - Please give us a brief description of what you are experiencing.
              </label>
              <input
                id="dryerductrepairdetails"
                name="dryerductrepairdetails"
                class="form-input"
                placeholder="Dryer Duct Repair Details"
                type="text"
              />
            </div>
            <div class="mb-6">
              <label for="dryerductinstallationdetails" class="form-label">
                <strong>Dryer Duct Installation</strong> - Is this a new installation or are you needing to re route the current duct.
              </label>
              <input
                id="dryerductinstallationdetails"
                name="dryerductinstallationdetails"
                class="form-input"
                placeholder="Dryer Duct Installation Details"
                type="text"
              />
            </div>
            <div class="mb-6">
              <label for="otherservicerequireddetails" class="form-label">
                <strong>Other Service Required</strong> - Please give a brief description of the service required.
              </label>
              <input
                id="otherservicerequireddetails"
                name="otherservicerequireddetails"
                class="form-input"
                placeholder="Other Service Required Details"
                type="text"
              />
            </div>

            <hr class="mb-6" />

            <div class="mb-6">
              <label for="message" class="form-label">
                Anything else?
              </label>
              <textarea
                id="message"
                name="message"
                class="form-input"
                placeholder="Message goes here..."
                rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>
